language: java

jdk: oraclejdk8

cache:
  directories:
  - .autoconf
  - $HOME/.m2

services:
  - docker
  - mysql

before_install:
  - docker-compose --file docker-compose-travis.yml up -d
script:
   - mvn clean verify -B

after_script:
  - docker login -u="${BINTRAY_USERNAME}" -p="${BINTRAY_API_KEY}" appdirect-opensource-docker-docker.bintray.io &&
    mvn clean package docker:build -DpushImage --settings settings.xml -X
